<h4><%= link_to '< Back', root_path %> </h4>
<div class="row featurette"> 
<div class="col-md-2">
<%= image_tag(@user.image.url, class: 'media-object picture')%>
</div>
<div class="col-md-10">
<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>
<% if current_user %>
<% if @user.id == current_user.id %>
<%= link_to 'Edit Account', edit_user_path(@user) %> 
<% end %>
<% end %>
</div>
</div>
<br/>

<div class="row featurette">
<h3>User's Music</h3>
<% if @user.products.blank? %>
<p>There is currently no music uploaded by this user.</p>
<% else %>
<table class="table table-bordered">
<% @user.products.each do |product| %>
	<tr>
	<td><div class="row featurette">
		<div class="col-md-4">
			<%= link_to image_tag(product.image.url, class: 'media-object picture'), product.image.url, class: "picture" %>
		</div>
		<div class="col-md-8">
			<h2><%= link_to product.name, product %></h2>
			<p><%= product.description %></p>
		</div>
	</div></td>
	</tr>
<% end %>
</table>
<% end %>
</div>
