<!DOCTYPE html>
<html>
<head>
  <title>Tuneify</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>

<body>
<div id="menu">
	<%= render :partial =>'layouts/navbar' %>
</div>
<div id="player">
	<%= render :partial =>'layouts/player' %>
</div>
<div id="content" class="container-fluid">
<% flash.each do |key, value| %>
    <div class="alert alert-<%= key %>"><%= value %></div>
  <% end %>
	<%= yield %>
</div>



</body>
</html>
